.graphs{
  top: 50px;
  bottom: 40px;
  left: 0;
  right: 0;
  position: absolute;
  background-color: white;
  z-index: -1;
}

@media only screen and (min-width: 600px) {
  .forms{
    min-width: 100px;
    max-width: 200px;
    width: 20%;
    font-size: 0.9em;
  }
  .port{
    min-width: 70px !important;
    max-width: 100px !important;
    width: 20%;
    font-size: 0.9em;
  }
}
.generateButton{
  margin-top: 5px;
  vertical-align: middle;
  text-align: center;
  /*width: 150px;*/
  background: #207cca;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  color: white;
}
