<div [ngClass]="'settings'">
  <div class="container">
    <div class="row" [formGroup]="deviceConfig">
      <mat-card style="width: 100%">
        <mat-card-title>Configurações de Dispositivo</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-2">
              <mat-form-field>
                <mat-select placeholder="Dispositivo" formControlName="dev_id" (change)="changed('device')" required>
                  <mat-option *ngFor="let device of devices" [value]="device">
                    {{ device }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 offset-1" >
              <mat-form-field>
                <input matInput type="number" placeholder="Port(Pacote)" formControlName="port"
                       [readonly]="!deviceSelected" (change)="changed('port')" >
                <mat-error>Campo Inválido</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2 offset-1" >
              <mat-form-field>
                <input matInput type="number" placeholder="Tamanho Pacote(bytes)" formControlName="packet_length"
                       [readonly]="!portSelected" (change)="changed('length')" >
                <mat-error>Campo Inválido</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2 offset-1" >
              <mat-form-field>
                <input matInput type="number" placeholder="Nº de Divisões(bits)" formControlName="packet_parts"
                       [readonly]="!lengthSelected" (change)="changed('packet')" >
                <mat-error>Campo Inválido</mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="row" *ngIf="packetSelected">
      <mat-card style="width: 100%">
        <mat-card-title>Partes do Pacote</mat-card-title>
        <mat-card-content>
          <div *ngFor="let packet of packetParts; let i = index">
            <div class="row"  [formGroup]="packet">
              <div class="col-md-2" >
                <mat-form-field>
                  <input matInput type="text" placeholder="Nome do campo" formControlName="fieldname">
                  <mat-error>Campo Inválido</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-2 offset-1">
                <mat-form-field>
                  <mat-select placeholder="Tipo de dado" formControlName="data_type" (change)="checkType($event, i)" required>
                    <mat-option *ngFor="let type of dataTypes" [value]="type">
                      {{ type }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-1 offset-1" *ngIf="booleanPacket[i]">
                <mat-form-field>
                  <input matInput type="number" placeholder="Bit Booleano" formControlName="start_bit">
                  <mat-error>Campo Inválido</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-1 offset-1" *ngIf="!booleanPacket[i]">
                <mat-form-field>
                  <input matInput type="number" placeholder="Bit Inicial" formControlName="start_bit">
                  <mat-error>Campo Inválido</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-1 offset-1" *ngIf="!booleanPacket[i]">
                <mat-form-field>
                  <input matInput type="number" placeholder="Bit Final" formControlName="end_bit">
                  <mat-error>Campo Inválido</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-2 offset-1" *ngIf="!booleanPacket[i] && !isString[i]">
                <mat-form-field>
                  <input matInput type="number" placeholder="Fator de Multiplicação" formControlName="scale">
                  <mat-error>Campo Inválido</mat-error>
                </mat-form-field>
              </div>
            </div>

          </div>

          <button type="button" class="btn btn-default" (click)="save()">Salvar</button>
        </mat-card-content>
      </mat-card>
    </div>




      <!--<form [formGroup]="application">-->
        <!--<div class="row">-->
          <!--<div class="col-md-2">-->
            <!--<div class="form-group ">-->
              <!--<label>Application ID</label>-->
              <!--<input type="text"-->
                     <!--class="form-control"-->
                     <!--formControlName="app_name"-->
              <!--<form [formGroup]="application">-->
                <!--<div class="row">-->
                  <!--<div class="col-md-2">-->
                    <!--<div class="form-group ">-->
                      <!--<label>Application ID</label>-->
                      <!--<input type="text"-->
                             <!--class="form-control"-->
                             <!--formControlName="app_name"-->
                             <!--required>-->
                    <!--</div>-->
                  <!--</div>-->

                  <!--<div class="col-md-1">-->
                    <!--<div class="form-group">-->
                      <!--<label>Port</label>-->
                      <!--<input type="number"-->
                             <!--class="form-control"-->
                             <!--formControlName="port"-->
                             <!--required>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-md-7">-->
                    <!--<div class="form-group">-->
                      <!--<label>Aplication Key</label>-->
                      <!--<input type="text"-->
                             <!--class="form-control"-->
                             <!--formControlName="app_key"-->
                             <!--required>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-md-2" style="vertical-align: bottom">-->
                    <!--<button type="button" class="btn btn-default" (click)="save()" style="vertical-align: bottom">Salvar</button>-->
                  <!--</div>-->
                <!--</div>-->

              <!--</form>  required>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="col-md-1">-->
            <!--<div class="form-group">-->
              <!--<label>Port</label>-->
              <!--<input type="number"-->
                     <!--class="form-control"-->
                     <!--formControlName="port"-->
                     <!--required>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-7">-->
            <!--<div class="form-group">-->
              <!--<label>Aplication Key</label>-->
              <!--<input type="text"-->
                     <!--class="form-control"-->
                     <!--formControlName="app_key"-->
                     <!--required>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-2" style="vertical-align: bottom">-->
              <!--<button type="button" class="btn btn-default" (click)="save()" style="vertical-align: bottom">Salvar</button>-->
          <!--</div>-->
        <!--</div>-->

      <!--</form>-->
  </div>
</div>
      <!--<div class="col-md-4">-->
        <!--<h5>Nome Aplicação</h5>-->
        <!--<div class="form-group">-->
          <!--<label>Nome Aplicação</label>-->
          <!--<input type="text"-->
                 <!--class="form-control"-->
                 <!--formControlName="app_name"-->
                 <!--required>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<h5>Port: 1883</h5>-->
      <!--</div>-->
      <!--<div class="col-md-4  ">-->
        <!--<h5>Device Name: bufsm_01</h5>-->
      <!--</div>-->
      <!--<div class="col-md-12">-->
        <!--<h5>Aplication Acess Key: ttn-account-v2.ASUiRfuLwBCxz31WhJM0xCkjaMwOKFWQL47C2Xg0H78</h5>-->
      <!--</div>-->


    <!--port: 1883,-->
    <!--//      username: "ufsm_lora",-->
    <!--//      password: "ttn-account-v2.ASUiRfuLwBCxz31WhJM0xCkjaMwOKFWQL47C2Xg0H78",-->
    <!--username: "bufsm",-->
    <!--password: "ttn-account-v2.xWQUWuF67urQXZI7HBRM1Rr0cYqXp4EYeXOg6blnzxM",-->

    <!--client.subscribe('bufsm/devices/bufsm_01/up');-->




    <!--<h1>Bootstrap 4 Card Centering Recipes</h1>-->
    <!--<h5>Align individual columns vertically</h5>-->
    <!--<code>.row (align-items-stretch=default)</code>-->
    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here, and there and more here.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col align-self-end">-->
        <!--<div class="card card-outline-danger card-block">-->
          <!--<h3>Card</h3>-->
          <!--<code>.col.align-self-end</code>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="row">-->
      <!--<div class="col align-self-center">-->
        <!--<div class="card card-outline-danger card-block">-->
          <!--<h3>Card</h3>-->
          <!--<code>.col.align-self-center</code>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here, and there and more here.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<div class="card card-block h-100 align-items-center">-->
          <!--<h3>Card</h3>-->
          <!--<code>.card.h-100.align-items-center</code>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block h-100">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here, and there and more here.</p>-->
          <!--<code>.card.h-100</code>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block h-100">-->
          <!--<h3>Card</h3>-->
          <!--<code>.card.h-100</code>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<h5>Align entire row columns vertically</h5>-->
    <!--<code>.row.align-items-center</code>-->
    <!--<div class="row align-items-center">-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here, and there and more here.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<code>.row.align-items-end</code>-->
    <!--<div class="row d-flex align-items-end">-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here, and there and more here and then some more.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<code>.row with centered content in equal height cards </code>-->
    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<div class="card card-block h-100 justify-content-center">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here</p>-->
          <!--<code>.card.h-10.justify-content-center</code>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block h-100 justify-content-center">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here, and there and more here and then some more.</p>-->
          <!--<code>.card.h-10.justify-content-center</code>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block h-100 justify-content-center">-->
          <!--<h3>Card</h3>-->
          <!--<code>.card.h-10.justify-content-center</code>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<br><br>-->

    <!--<h5>Align card content</h5>-->
    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<div class="card h-100 card-block justify-content-center">-->
          <!--<code>.h-100.justify-content-center</code>-->
          <!--<h3>Card</h3>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card h-100 card-block justify-content-center align-items-center">-->
          <!--<code>.h-100.justify-content-center<br>.align-items-center</code>-->
          <!--<h3>Card</h3>-->
          <!--Some content here, and there.-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card h-100 card-block justify-content-end">-->
          <!--<code>.h-100.justify-content-end</code>-->
          <!--<h3>Card</h3>-->
          <!--Some content.-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
  <!--</div>-->




