<div [ngClass]="'settings'">
  <div class="container">
    <div class="row" [formGroup]="deviceConfig">
      <mat-card style="width: 100%">
        <mat-card-title>Configurações de Dispositivo</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-2">
              <mat-form-field>
                <mat-select placeholder="Dispositivo" formControlName="dev_id" (change)="changed('device')" required>
                  <mat-option *ngFor="let device of devices" [value]="device">
                    {{ device }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 offset-1" >
              <mat-form-field>
                <input matInput type="number" placeholder="Port(Pacote)" formControlName="port"
                       [readonly]="!deviceSelected" (change)="changed('port')" >
                <mat-error>Campo Inválido</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2 offset-1" >
              <mat-form-field>
                <input matInput type="number" placeholder="Nº de Divisões(bits)"  [(ngModel)]="divisionValue" formControlName="packet_parts"
                       [readonly]="!portSelected" (change)="changed('packet')" >
                <mat-error>Campo Inválido</mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="row" *ngIf="packetSelected">
      <mat-card style="width: 100%">
        <mat-card-title>Partes do Pacote</mat-card-title>
        <mat-card-content>
          <div *ngFor="let packet of packetParts; let i = index">
            <div class="row"  [formGroup]="packet">
              <div class="col-md-2" >
                <mat-form-field>
                  <input matInput type="text" placeholder="Nome do campo" formControlName="fieldname">
                  <mat-error>Campo Inválido</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-2 offset-1">
                <mat-form-field>
                  <mat-select placeholder="Tipo de dado" formControlName="data_type" (change)="checkType($event, i)" required>
                    <mat-option *ngFor="let type of dataTypes" [value]="type">
                      {{ type }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-1 offset-1" *ngIf="booleanPacket[i]">
                <mat-form-field>
                  <input matInput type="number" placeholder="Bit Booleano" formControlName="start_bit">
                  <mat-error>Campo Inválido</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-1 offset-1" *ngIf="!booleanPacket[i]">
                <mat-form-field>
                  <input matInput type="number" placeholder="Bit Inicial" formControlName="start_bit">
                  <mat-error>Campo Inválido</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-1 offset-1" *ngIf="!booleanPacket[i]">
                <mat-form-field>
                  <input matInput type="number" placeholder="Bit Final" formControlName="end_bit">
                  <mat-error>Campo Inválido</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-2 offset-1" *ngIf="!booleanPacket[i] && !isString[i]">
                <mat-form-field>
                  <input matInput type="number" placeholder="Fator de Multiplicação" formControlName="scale">
                  <mat-error>Campo Inválido</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-default" (click)="saveParts()">Salvar</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>



