.settings{
  top: 50px;
  bottom: 20px;
  left: 0;
  right: 0;
  position: absolute;
  /*background-color: #c3d9ff;*/
  z-index: -1;
}
.container{
  top: 50px;
  bottom: 20px;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 600px) {
  .mat-form-field.mat-form-field {
    min-width: 150px;
    max-width: 250px;
    width: 30%;
  }
}
.line{
  top:10px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #d2d2d2;
  margin-bottom: 5px;

}

.saveButton{
  margin-top: 5px;
  vertical-align: middle;
  text-align: center;
  /*width: 150px;*/
  background: #207cca;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  color: white;
}
