<div [ngClass]="'settings'">
  <div class="container">
    <h3>Configurações Gerais</h3>

      <!--<form [formGroup]="application">-->
        <!--<div class="row">-->
          <!--<div class="col-md-2">-->
            <!--<div class="form-group ">-->
              <!--<label>Application ID</label>-->
              <!--<input type="text"-->
                     <!--class="form-control"-->
                     <!--formControlName="appName"-->
              <!--<form [formGroup]="application">-->
                <!--<div class="row">-->
                  <!--<div class="col-md-2">-->
                    <!--<div class="form-group ">-->
                      <!--<label>Application ID</label>-->
                      <!--<input type="text"-->
                             <!--class="form-control"-->
                             <!--formControlName="appName"-->
                             <!--required>-->
                    <!--</div>-->
                  <!--</div>-->

                  <!--<div class="col-md-1">-->
                    <!--<div class="form-group">-->
                      <!--<label>Port</label>-->
                      <!--<input type="number"-->
                             <!--class="form-control"-->
                             <!--formControlName="port"-->
                             <!--required>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-md-7">-->
                    <!--<div class="form-group">-->
                      <!--<label>Aplication Key</label>-->
                      <!--<input type="text"-->
                             <!--class="form-control"-->
                             <!--formControlName="appKey"-->
                             <!--required>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-md-2" style="vertical-align: bottom">-->
                    <!--<button type="button" class="btn btn-default" (click)="save()" style="vertical-align: bottom">Salvar</button>-->
                  <!--</div>-->
                <!--</div>-->

              <!--</form>  required>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="col-md-1">-->
            <!--<div class="form-group">-->
              <!--<label>Port</label>-->
              <!--<input type="number"-->
                     <!--class="form-control"-->
                     <!--formControlName="port"-->
                     <!--required>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-7">-->
            <!--<div class="form-group">-->
              <!--<label>Aplication Key</label>-->
              <!--<input type="text"-->
                     <!--class="form-control"-->
                     <!--formControlName="appKey"-->
                     <!--required>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-2" style="vertical-align: bottom">-->
              <!--<button type="button" class="btn btn-default" (click)="save()" style="vertical-align: bottom">Salvar</button>-->
          <!--</div>-->
        <!--</div>-->

      <!--</form>-->
  </div>
</div>
      <!--<div class="col-md-4">-->
        <!--<h5>Nome Aplicação</h5>-->
        <!--<div class="form-group">-->
          <!--<label>Nome Aplicação</label>-->
          <!--<input type="text"-->
                 <!--class="form-control"-->
                 <!--formControlName="appName"-->
                 <!--required>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<h5>Port: 1883</h5>-->
      <!--</div>-->
      <!--<div class="col-md-4  ">-->
        <!--<h5>Device Name: bufsm_01</h5>-->
      <!--</div>-->
      <!--<div class="col-md-12">-->
        <!--<h5>Aplication Acess Key: ttn-account-v2.ASUiRfuLwBCxz31WhJM0xCkjaMwOKFWQL47C2Xg0H78</h5>-->
      <!--</div>-->


    <!--port: 1883,-->
    <!--//      username: "ufsm_lora",-->
    <!--//      password: "ttn-account-v2.ASUiRfuLwBCxz31WhJM0xCkjaMwOKFWQL47C2Xg0H78",-->
    <!--username: "bufsm",-->
    <!--password: "ttn-account-v2.xWQUWuF67urQXZI7HBRM1Rr0cYqXp4EYeXOg6blnzxM",-->

    <!--client.subscribe('bufsm/devices/bufsm_01/up');-->




    <!--<h1>Bootstrap 4 Card Centering Recipes</h1>-->
    <!--<h5>Align individual columns vertically</h5>-->
    <!--<code>.row (align-items-stretch=default)</code>-->
    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here, and there and more here.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col align-self-end">-->
        <!--<div class="card card-outline-danger card-block">-->
          <!--<h3>Card</h3>-->
          <!--<code>.col.align-self-end</code>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="row">-->
      <!--<div class="col align-self-center">-->
        <!--<div class="card card-outline-danger card-block">-->
          <!--<h3>Card</h3>-->
          <!--<code>.col.align-self-center</code>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here, and there and more here.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<div class="card card-block h-100 align-items-center">-->
          <!--<h3>Card</h3>-->
          <!--<code>.card.h-100.align-items-center</code>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block h-100">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here, and there and more here.</p>-->
          <!--<code>.card.h-100</code>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block h-100">-->
          <!--<h3>Card</h3>-->
          <!--<code>.card.h-100</code>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<h5>Align entire row columns vertically</h5>-->
    <!--<code>.row.align-items-center</code>-->
    <!--<div class="row align-items-center">-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here, and there and more here.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<code>.row.align-items-end</code>-->
    <!--<div class="row d-flex align-items-end">-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here, and there and more here and then some more.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block">-->
          <!--<h3>Card</h3>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<code>.row with centered content in equal height cards </code>-->
    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<div class="card card-block h-100 justify-content-center">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here</p>-->
          <!--<code>.card.h-10.justify-content-center</code>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block h-100 justify-content-center">-->
          <!--<h3>Card</h3>-->
          <!--<p>Some content here, and there and more here and then some more.</p>-->
          <!--<code>.card.h-10.justify-content-center</code>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card card-block h-100 justify-content-center">-->
          <!--<h3>Card</h3>-->
          <!--<code>.card.h-10.justify-content-center</code>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<br><br>-->

    <!--<h5>Align card content</h5>-->
    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<div class="card h-100 card-block justify-content-center">-->
          <!--<code>.h-100.justify-content-center</code>-->
          <!--<h3>Card</h3>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card h-100 card-block justify-content-center align-items-center">-->
          <!--<code>.h-100.justify-content-center<br>.align-items-center</code>-->
          <!--<h3>Card</h3>-->
          <!--Some content here, and there.-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<div class="card h-100 card-block justify-content-end">-->
          <!--<code>.h-100.justify-content-end</code>-->
          <!--<h3>Card</h3>-->
          <!--Some content.-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
  <!--</div>-->




