<div [ngClass]="'data'">
  <div class="container">
    <div class="row" [formGroup]="deviceConfig">
      <mat-card style="width: 100%">
        <mat-card-title>Selecionar Dispositivo</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-2">
              <mat-form-field>
                <mat-select placeholder="Dispositivo" formControlName="dev_id" (change)="changed('device')" required>
                  <mat-option *ngFor="let device of devices" [value]="device">
                    {{ device }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 offset-1" *ngIf="deviceSelected" >
              <mat-form-field>
                <input matInput type="number" placeholder="Port(Pacote)" formControlName="port"
                       [readonly]="!deviceSelected" (change)="changed('port')" >
                <mat-error>Campo Inválido</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2 offset-1" *ngIf="portSelected">
              <button mat-button  [ngClass]="'downloadButton'" (click)="downloadCSV()" style="float: right">
                Download CSV</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="portSelected">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="counter">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Counter</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.counter}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="port">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Port</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.port}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="airtime">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Airtime</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.airtime}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="data_rate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Data Rate</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.data_rate}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="frequency">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Frequency</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.frequency}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.timestamp}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="payload_raw" *ngIf="!partsRegistered" >
          <mat-header-cell *matHeaderCellDef mat-sort-header >Payload Raw</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.payload_raw}} </mat-cell>
        </ng-container>
        <ng-container *ngIf="partsRegistered">
          <ng-container *ngFor="let item of items_packet;"  matColumnDef={{item}}>
            <mat-header-cell *matHeaderCellDef mat-sort-header >{{item}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[item]}} </mat-cell>
          </ng-container>
        </ng-container>

        <!--<ng-container matColumnDef="lat" *ngIf="partsRegistered" >-->
        <!--<mat-header-cell *matHeaderCellDef mat-sort-header >Lat</mat-header-cell>-->
        <!--<mat-cell *matCellDef="let element"> {{element.lat}} </mat-cell>-->
        <!--</ng-container>-->
        <!--<ng-container matColumnDef="lng" *ngIf="partsRegistered" >-->
        <!--<mat-header-cell *matHeaderCellDef mat-sort-header >Lng</mat-header-cell>-->
        <!--<mat-cell *matCellDef="let element"> {{element.lng}} </mat-cell>-->
        <!--</ng-container>-->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>


</div>
